/* 헤더 스타일 */
.header_container {
  width: 100%;
  height: 70px;
  display: block;
  background-color: #444;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  min-width: 395px;
}

.header-main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.header-left {
  max-width: 640px;
  width: 50%;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-img img {
  margin-top: -5px;
  width: 40px;
  height: 40px;
}

.site-name {
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 22px;
}

.site-name-seoul {
  font-weight: 600;
}

.site-name-tic {
  font-weight: 300;
}

.header-right-wrap {
  display: flex;
  align-items: center;
}

.nav-menu-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_container {
  flex: 0 0 auto;
}

.navs {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navs ul {
  display: flex;
  list-style: none;
}

.navs li {
  margin-left: 20px;
}

.navs a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navs a:hover {
  text-decoration: underline;
}

.material-symbols-outlined.menu_open {
  color: white;
  font-size: 40px;
  display: block;
  font-variation-settings: "FILL" 0, "wght" 200;
}

.auth-wrap {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0 auto;
}

.auth-links {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 10px;
  background-color: #444;
  color: #fff;
  gap: 15px;
  font-size: 12px;
  font-weight: 200;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.auth-link {
  text-decoration-line: none;
  color: #fff;
}

.auth-link:hover {
  color: #f1b300;
  font-weight: 400;
}

/* 헤더 반응형 스타일 */
@media screen and (max-width: 768px) {
  .header-main {
    width: 100%;
    padding-top: 15px;
    padding-left: 40px;
  }
  .header-left {
    max-width: 100%;
    width: 100%;
  }
  .header-right {
    width: fit-content;
  }
  .navs ul {
    display: none;
  }

  .menu-btn {
    display: block;
  }
  .auth-wrap {
    display: none;
  }
  .auth-links {
    display: none;
  }
}
