* {
  box-sizing: border-box; /* 패딩과 보더가 너비에 포함되도록 설정함. */
}

.map_container {
  width: 100%;
  height: 625px;
  background-color: #f3f2e8;
  margin-top: 0;
}

.mapview {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f2f2f2;
}

.vw-notice,
.vw-logo,
.vw-control {
  display: none;
}

.main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.middle-section {
  position: relative;
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
}

.background-section {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  display: flex;
  width: calc(100vw - 8px);
  margin-left: -50vw;
  height: 140px;
  z-index: 0;
}

.yellow-bg {
  width: 50%;
  background-color: #f1b300;
}

.navy-bg {
  width: 50%;
  background-color: #1d3b5b;
}

.top-section {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1280px;
  height: 140px;
  z-index: 1;
  margin: 0 auto;
}

.yellow-top {
  width: 370px;
  min-width: 370px;
  background-color: #f1b300;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.navy-top {
  flex: 1;
  background-color: #1d3b5b;
}

.sitemap-icons {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.middle-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 50px;
}

.middle-icons span {
  color: white;
}

.middle-icons .material-symbols-outlined {
  font-size: 70px;
}

.content-section {
  padding-top: 50px;
  padding-bottom: 130px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.content-box {
  position: relative;
  width: 400px;
  height: 250px;
  margin-top: 22px;
  background-color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 5px;
  flex: 0 0 400px;
}

.content-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  overflow: hidden;
  height: 70px;
}

.ctt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-content {
  border: 0px;
}

.board-content-content {
  position: relative;
  height: 170px;
  padding: 15px;
  padding-left: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  display: flex;
  align-items: flex-start;
}

.news-list {
  width: 365px;
}

.notice-list,
.news-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notice-list a,
.news-list a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.notice-list a:hover,
.news-list a:hover {
  color: #f1b300;
}

.event-arrow {
  color: #888;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex; /* 아이콘을 버튼 내에서 중앙 정렬 */
  align-items: center;
  justify-content: center;
}

.event-arrow .material-symbols-outlined {
  /* vertical-align: middle; */ /* 부모가 flex로 정렬하므로 제거 */
  /* line-height: 1; */ /* 부모가 flex로 정렬하므로 제거 */
}

.traffic-controls {
  display: flex;
}

.traffic-controls button {
}

.traffic-event-display {
  text-align: left;
  width: 100%;
}

.index-box {
  position: absolute;
  top: -35px;
  right: 0px;
  width: fit-content;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  height: fit-content;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 2;
}

.ITS-link {
  width: calc(100vw - 8px);
  height: 100px;
  background-color: white;
  align-items: center;
  justify-content: center;
  margin: 0 calc(50% - 50vw);
  display: flex;
}

.ITS-link-box {
  width: fit-content;
  height: fit-content;
  background-color: white;
}
