* {
    box-sizing: border-box; /* 패딩과 보더가 너비에 포함되도록 설정함. */
}

.map_container {
    width: 100%;
    height: 625px;
    background-color: #F3F2E8;
    margin-top: 0;
}

.mapview {
    width: 100%;
    height: 100%;
}

body{
    background-color: #f2f2f2;
}

.vw-notice,
.vw-logo,
.vw-control {
    display: none;
}

.main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

.middle-section {
    position: relative;
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
}

.background-section {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    display: flex;
    width: 100vw;
    margin-left: -50vw;
    height: 140px;
    z-index: 0;
}

.yellow-bg {
    width: 50%;
    background-color: #F1B300;
}

.navy-bg {
    width: 50%;
    background-color: #1d3b5b;
}

.top-section {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1280px;
    height: 140px;
    z-index: 1;
    margin: 0 auto;
}

.yellow-top {
    width: 370px;
    min-width: 370px;
    background-color: #F1B300;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.navy-top {
    flex: 1;
    background-color: #1d3b5b;
}

.content-section {
    padding-top: 50px;
    padding-bottom: 130px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.content-box {
    position: relative;
    width: 400px;
    height: 250px;
    margin-top: 22px;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 5px;
    flex: 0 0 400px;;
}

.content-title{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    overflow: hidden;
}

.ctt{
    padding-bottom: 8px;
}

.board-content{
    border:0px;
}

.board-content-content{
    position: relative;
    height: 170px;
    padding: 15px;
    padding-left: 20px;
    overflow-y: auto; /* 내용이 넘칠 때만 스크롤바가 표시되도록 변경함. */
    overflow-x: hidden;
    white-space: normal; /* 자동 줄바꿈을 허용하도록 변경함. */
    display: flex; 
    align-items: flex-start; /* 내용이 여러 줄일 때 위에서부터 표시되도록 변경함. */
}

.news-list{
    width: 365px;
}

.notice-list,
.news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notice-list a,
.news-list a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.notice-list a:hover,
.news-list a:hover{
    color:#F1B300;
}

.event-arrow{
    color: #888;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.event-arrow .material-symbols-outlined {
    font-size: 30px;
}

.ctt{
    padding-top: 10px;
}

.traffic-controls {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-right: -10px;
}

.traffic-event-display {
    text-align: left;
    width: 100%;
}

.index-box {
    position: absolute;
    top: -35px;
    right: 0px;
    width: fit-content;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    height: fit-content;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 2;
}

.ITS-link {
    width: 100vw;
    height: 100px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0 calc(50% - 50vw);
    display: flex;
}

.ITS-link-box{
    width: fit-content;
    height: fit-content;
    background-color: white;
}